@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
    --mainText : #FFFFFFFF;
    --subtText : #000000FF;
    --button :#ff4081;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
}

section {
    padding: 100px;
}

.banner {
    position: relative;
    text-transform: uppercase;
    min-height: 100vh;
    background-color: var(--subtText);
    background-size: cover;
    background-position: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.banner .logo {
    width: 20%;
}

.banner h2 {
    font-size: 3em;
    color: var(--mainText);
    font-weight: 500;
    line-height: 0.3em;
    padding-bottom: 0.7em;
    margin-bottom: 0.1em;
}

.banner h2 span {
    font-family: 'Syncopate', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

.banner .subhead {
    letter-spacing: 10px;
    word-spacing: 15px;
    padding-bottom: 15px;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--mainText);
}

.banner h3 {
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--mainText);
}

.banner .textBox {
    text-align: center;
}

.banner sup {
    text-transform: lowercase;
}

.banner p {
    color: var(--mainText);
    font-weight: 600;
    padding-bottom: 10px;
}

.banner #particles-js {
    width: 100%;
    height: 100%;
}

.btn {
    background: var(--button);
    display: inline-block;
    color: var(--mainText);
    margin-top: 1em;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 7px 7px 15px -5px rgba(0, 0, 0, 0.3);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: var(--mainText);
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
    position: relative;
    color: var(--mainText);
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.sticky .logo {
    color: var(--subtText);
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    margin: 0px 15px;
    color: var(--mainText);
    text-decoration: none;
}

header.sticky ul li a {
    color: var(--subtText);
}

header ul li a:hover,
header.sticky ul li a:hover {
    color: var(--button);
}

header img {
    width: 70px;
}

header.sticky img {
    filter: invert(1);
}



.about {
    background: var(--mainText);
    color: var(--subtText);
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: var(--subtText);
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}

.content {
    display: flex;
}

.contentBox {
    padding-right: 30px;
}

.contentBox h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contentBox p {
    font-weight: 500;
    text-align: justify;
    text-justify: inter-word;
}

.w50 {
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w50 img {
    width: 60%;
}

.sponsors {
    background: var(--subtText);
}

.sponsors .heading {
    color: var(--mainText);
}

.sponsors .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.sponsors .content .servicesBox {
    padding: 40px 20px;
    color: var(--mainText);
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
/* 
.sponsors .content .servicesBox:hover {
    background: var(--button);
} */

.sponsors .content .servicesBox img {
    width: 33%;
}

.sponsors .content .servicesBox h2 {
    font-size: 20px;
    font-weight: 600;
}



@media screen and (max-width: 768px) {

}